.env
.gitignore
.git
README.md
README.zh.md
venv
Dockerfile
docker-compose.yml
docker-compose.yml.bak
migrations
exec.sh
exec.ps1
okr_assistant_service.log
start_worker.py
celerytest.py
conf.json
worker.py
nginx.conf
pic4readme
